h1
{
    text-align: center;
    font-size: 60pt;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    border-style: solid;
    border-color: rgba(153, 167, 153, 1);
    border-width: 5px;
}
ul
{
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
ol
{
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
h3
{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
img
{
    float: right;
    flex-direction: row;
    width: 50%;
}
